{% extends "layout.html" %}

{% block title %}
    Forums
{% endblock %}

{% block main %}
    <!-- Content -->
        <div class="container">
            <div class="p-md-5 mb-4 text-white rounded text-center">
                <div class="px-0">
                <h1 class="display-4 fst-italic">Welcome to Forums.</h1>
                <p class="lead my-3">Here, you can discuss about your students life with Others.</p>
                </div>
            </div>

            {% for forum in forums %}
            <div class="row mb-2 text-white">
                <div class="col-md-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <form action="get">
                        <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-white">Written by {{ forum.username }}</strong>
                        <h3 class="mb-0">{{ forum.question_or_title }}</h3>
                        <div class="mb-1 text-white">{{ forum.date }}</div>
                        <p class="card-text mb-auto">{{ forum.description }}</p>
                        <a href="/forum-detail/{{forum.id}}" class="stretched-link" name="{{ forum.id }}">Continue reading</a>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            {% endfor %}

            <div class="col-md-5 p-lg-5 mx-auto my-5 text-center text-white">
                <a class="btn btn-outline-light me-2" href="/writing">Write or Ask something</a>
            </div>
        </div>
    <!-- Content -->
{% endblock %}