{% extends "layout.html" %}

{% block title %}
    Forum Detail
{% endblock %}

{% block main %}
    <!-- Content -->
        <section class="article text-white text-center">
            <div class="p-5 mb-4 rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Custom jumbotron</h1>
                    <p class="fs-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit temporibus nam quis delectus eum quidem culpa ab repellat excepturi praesentium. Tempora nostrum dignissimos asperiores voluptates doloribus, corporis reprehenderit sapiente praesentium? Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
                </div>
            </div>
        </section>

        <section class="comments text-white">
            <div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h5>Comments</h5>
            </div>

            <div class="p-3 mt-2 border rounded">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center">
                        <p>Nama</p>
                    </div> 
                    <small>3 days ago</small> 
                </div>
                <div>
                        <p>apaaaaa</p>
                </div>
            </div>

            <div class="p-3 mt-2 border rounded">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center">
                        <p>Nama</p>
                    </div> 
                    <small>3 days ago</small> 
                </div>
                <div>
                        <p>apaaaaa</p>
                </div>
            </div>

            <div class="p-3 mt-2 border rounded">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center">
                        <p>Nama</p>
                    </div> 
                    <small>3 days ago</small> 
                </div>
                <div>
                        <p>apaaaaa</p>
                </div>
            </div>

            <div class="p-3 mt-2 border rounded">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center">
                        <p>Nama</p>
                    </div> 
                    <small>3 days ago</small> 
                </div>
                <div>
                        <p>apaaaaa</p>
                </div>
            </div>
        </div>
    </div>
</div>
        </section>

        <section class="input-comment container text-center col-md-8 pt-5">
            <form action="/forum-detail" method="post" class="text-white">
                <div class="mb-3 ">
                    <label for="comment" class="form-label">Write a comment</label>
                    <textarea class="form-control" id="comment" rows="3"></textarea>
                </div>  

                <div>
                    <button class="btn  btn-outline-light me-2 profile-button" type="submit">Post</button>
                </div>
            </form>
        </section>
    <!-- Content -->
{% endblock %}