{% extends "layout.html" %}

{% block title %}
    Forum Detail
{% endblock %}

{% block main %}
    <!-- Content -->
        <section class="article text-white text-center">
            <div class="p-5 mb-4 rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">{{ forum.question_or_title }}</h1>
                    <p class="fs-4">{{ forum.content }}</p>
                </div>
            </div>
        </section>

        <section class="comments text-white">
            <div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h5>Comments</h5>
            </div>

            {% for comment in comments %}
            <div class="p-3 mt-2 border rounded">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center">
                        <p>{{ comment.commenter_id }}</p>
                    </div> 
                    <small>{{ comment.date }}</small> 
                </div>
                <div>
                        <p>{{ comment.comment }}</p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
        </section>

        <section class="input-comment container text-center col-md-8 pt-5">
            <form action="/comment/{{forum.id}}" method="post" class="text-white">
                <div class="mb-3 ">
                    <label for="comment" class="form-label">Write a comment</label>
                    <textarea class="form-control" id="comment" rows="3" name="comment"></textarea>
                </div>  

                <div>
                    <button class="btn  btn-outline-light me-2 profile-button" type="submit">Post</button>
                </div>
            </form>
        </section>
    <!-- Content -->
{% endblock %}