{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <!-- Content -->
      <div  class="d-flex h-100 text-center justify-content-center align-items-center text-white cover-container w-100 p-3 mx-auto flex-column">
        <h1>Welcome to studentsplayground</h1>
          <img class="index-logo" src="../static/img/theS-white.ico" alt="">
          <p class="lead">A place where students Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, iste. Delectus quo animi laboriosam debitis repudiandae rerum, eaque ipsa asperiores autem, magnam alias. Fuga, rem. Iste error officiis exercitationem ratione.
            A place where students Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, iste. Delectus quo animi laboriosam debitis repudiandae rerum, eaque ipsa asperiores autem, magnam alias. Fuga, rem. Iste error officiis exercitationem ratione.
          </p>
          <div class="col-md-5 p-lg-5 mx-auto my-5 text-center text-white">
                <a class="btn btn-outline-light me-2" href="/writing">Write or Ask something</a>
          </div>
      </div>
      <!-- Content -->
{% endblock %}